<a href="https://colab.research.google.com/github/titas2003/learning-py/blob/main/functions_classes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Tuple to List
my_tuple = (1, 2, 3, 'a', 'b')
my_list = list(my_tuple)
my_list[2] = "car"
my_tuple = list(my_list)
print(my_list)

[1, 2, 'car', 'a', 'b']

**Functions**

In [6]:
#Basic
def myfunc():
  print("Hi There")

myfunc()

Hi There

In [9]:
#Arguments
def getname(name): #name is the argument
  print("Hi "+ name)
getname("Titas")

Hi Titas

In [10]:
#multiple argements
def getFullName(fname, lname):
  print("Hi "+ fname +" "+lname)

getFullName("John", "Doe")

Hi John Doe

In [15]:
#Arbitrary arguments
def getKidNames(*kids):
  print(kids[2])

getKidNames("Joe", "Jane", "John")

John

In [14]:
#keywort arguments
def combo(starter, main_course, dessert):
  print("We are serving "+starter+" as starter. "+main_course+" as main course and "+dessert+" as desserts")
combo(starter="Kebab", main_course="Biriyani", dessert="Gulab Jamun")
combo("Pakora", "Rice", "Ice-cream")

We are serving Kebab as starter. Biriyani as main course and Gulab Jamun as desserts
We are serving Pakora as starter. Rice as main course and Ice-cream as desserts

In [18]:
#Arbitrary keywords arguments
def combos(**food):
  print("Fish Combo: "+food["fries"]+" / "+food["rice"]+" / "+food["side_dish"])
  print("Chicken Combo: "+food["starter"]+" / "+food["biriyani"]+" Biriyani / "+food["dessert"])

combos(fries="Fish n Chips", rice="Sezwan Rice", side_dish="Manchurian", starter="Kebab", biriyani="Mutton", dessert="Ice cream")

Fish Combo: Fish n Chips / Sezwan Rice / Manchurian
Chicken Combo: Kebab / Mutton Biriyani / Ice cream

**OOPS concept**

 - Classes

In [19]:
#basic class example
class myclass:
  x=5
#create object
obj=myclass();
print(obj.x)

5

In [1]:
#__init__ function
class person:
  def __init__(self, name, age):
    self.name=name
    self.age=age
p1=person("John", 36)
print(p1.name)
print(p1.age)

John
36

In [6]:
#__str__ function.
class person:
  def __init__(self, name, age):
    self.name=name
    self.age=age
  def __str__(self):
    return f"{self.name} is {self.age} years old"

p1=person("Joe", 29)
print(p1)
print(p1.name)

Joe is 29 years old
Joe

In [5]:
class person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  def mufunc(self):
    print("Welcome to the training"+" "+self.name)
p1=person("Joe", 34)
p1.mufunc()

Welcome to the training Joe