<a href="https://colab.research.google.com/github/titas2003/learning-py/blob/main/Tanvi_devops_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Check data type
x=4
print(x)
print(type(x))

x="Hello"
print(x)
print(type(x))

4
<class 'int'>
Hello
<class 'str'>

In [ ]:
#Check data type
x=4.5
print(x)
print(type(x))

x=9.09845014254
print(x)
print(type(x))

4.5
<class 'float'>
9.09845014254
<class 'float'>

In [ ]:
name="Titas"
age=29
print(f"My name is {name} and I am {age} years old.")

My name is Titas and I am 29 years old.

In [ ]:
2==2

True

In [ ]:
a="Hello"
(5>4) and (a!=a)

False

In [ ]:
a = {not 0}
print(a)

{True}

In [ ]:
a="Welcome to DevOps"
print(len(a))

17

In [ ]:
print("DevOps" in a)

True

In [ ]:
print(a[2:20])

lcome to DevOps

In [ ]:
#insert value by insert() method
list=["apple", "samsung", "dell"]
list.insert(1,"lenovo")
print(list)
type(list)

['apple', 'lenovo', 'samsung', 'dell']

list

In [ ]:
#Extend list using extend() method
list=["apple", "samsung", "dell", 5, [3,4]]
list.extend("Mi")
print(list)
type(list)

['apple', 'samsung', 'dell', 5, [3, 4], 'M', 'i']

list

In [ ]:
#Remove list item using remove() method
list=["apple", "banana", "mango", 3, [5,7]]
list.remove("apple")
print(list)
type(list)

['banana', 'mango', 3, [5, 7]]

list

In [ ]:
#Remove by specific index using pop() method
list=["apple", "banana", 5, [5, 6, 7]]
list[3].pop(0)
print(list)
type(list)

['apple', 'banana', 5, [6, 7]]

list

In [ ]:
#Clear all the elements of the list using clear() method
list=["apple", "banana", 5, [5, 6, 7]]
list[3].clear()
print(list)
type(list)

['apple', 'banana', 5, []]

list

In [ ]:
#Sort a list by sort() method
list=["apple", "banana", "coconut"]
list.sort(reverse=True)
print(list)
type(list)

['coconut', 'banana', 'apple']

list

In [ ]:
#Extend list using extend() method
list=["apple", "samsung", "dell", 5, [3,4]]
list_01=[1, 3, 5]
list.extend(list_01)
print(list)
type(list)

['apple', 'samsung', 'dell', 5, [3, 4], 1, 3, 5]

list

In [ ]:
#Join 2 lists using '+' sign
list=["apple", "samsung", "dell", 5, [3,4]]
list_01=[1, 3, 5]
fin_list=list+list_01
print(fin_list)
type(fin_list)

['apple', 'samsung', 'dell', 5, [3, 4], 1, 3, 5]

list

In [ ]:
#Extract item from a list
list=["apple", "samsung", "dell", 5, [3,4]]
print(list[4][0])

3

**Tuples**

 - Immutable
 - Ordered
 - Allow dupicates
 - Heterogeneous
 - Negetive indexing(Starts from -1)

In [ ]:
# Tuples
tup=("apple", "orange", "a", "b")
print(tup)
print(type(tup))

('apple', 'orange', 'a', 'b')
<class 'tuple'>

In [ ]:
tup=("apple", "orange", "a", "b")
print(tup[1])
print(type(tup))

orange
<class 'tuple'>

In [ ]:
#Negetive indexing
tup=("apple", "orange", "a", "b")
print(tup[-2])
print(type(tup))

a
<class 'tuple'>

In [ ]:
#Negetive indexing
tup=("apple", "orange", "a", "b", 3, 6.5)
print(tup[-5:-2])
print(type(tup))

('orange', 'a', 'b')
<class 'tuple'>

In [1]:
#Negetive indexing
tup=("apple", "orange", "a", "b", 3, 6.5)
print(tup[-4:])
print(type(tup))

('a', 'b', 3, 6.5)
<class 'tuple'>

In [ ]:
#Immutable(Error)
tup=("apple", "orange", "a", "b", 3, 6.5)
tup[2]="test"
print(tup)
print(type(tup))

TypeError: 'tuple' object does not support item assignment

**Sets**

 - Unordered
 - No duplicates
 - Mutable (Add/Remove elements)
 - Immutable (Cannot change the values)

In [2]:
# Set
st = {"apple", "banana", "error", 1, 3, 1}
print(st)

{'banana', 1, 3, 'error', 'apple'}

In [4]:
#Operations
set1 = {"abc", 50, "cherry", 7.6}
print(set1)
print(len(set1))

{'cherry', 50, 'abc', 7.6}
4

In [15]:
#Operations
X = set("spamsapple")
Y = set(['a', 'b', 'c', 's', 'p'])
print(X)
print(Y)

#Intersection
intr = X & Y
print(intr)

#Union
uni = X | Y
print(uni)

#Differences
diff = X - Y
print(diff)

{'p', 'l', 'e', 'm', 's', 'a'}
{'p', 's', 'b', 'a', 'c'}
{'p', 's', 'a'}
{'p', 'l', 'e', 'm', 's', 'a', 'b', 'c'}
{'m', 'l', 'e'}

**Dictionaries**

 - Key Value Pair
 - Unordered
 - Unique Key
 - Keys are immutable
 - No Indexing(Access values using keys)
 - Values are mutable
 - Can Add/Remove any key:value pair

In [17]:
#Example
dict1 = {"brand":"Ford", "model":"Mustang", "year":1994}
print(dict1)
print(len(dict1))
print(type(dict1))

{'brand': 'Ford', 'model': 'Mustang', 'year': 1994}
3
<class 'dict'>

In [18]:
#Values will overwritten
dict1 = {"brand":"Ford", "model":"Mustang", "year":1994, "year":2003}
print(dict1)
print(len(dict1))
print(type(dict1))

{'brand': 'Ford', 'model': 'Mustang', 'year': 2003}
3
<class 'dict'>

In [24]:
dict1 = {"brand":"Ford", "model":"Mustang", "year":1994, "colors": ["red", "black", "silver"]}
print(dict1)
print(dict1['colors'])
print(dict1.get("model"))
print(dict1.keys())
print(len(dict1))
print(type(dict1))

{'brand': 'Ford', 'model': 'Mustang', 'year': 1994, 'colors': ['red', 'black', 'silver']}
['red', 'black', 'silver']
Mustang
dict_keys(['brand', 'model', 'year', 'colors'])
4
<class 'dict'>

In [42]:
dict1 = {"brand":"Ford", "model":"Mustang", "year":1994, "colors": ["red", "black", "silver"]}
dict1["colors"][0] = "purple"
print(dict1)
dict2 = dict1.copy()
print(type(dict2))
dict1.pop("brand")
print(dict1)
dict2.update({"model": "GT"})
print(dict2)
dict2.setdefault("brand", "Ford")
print(dict2)
print(dict2.values())
dict2.pop("brand")
print(dict2)
dict3 = dict2.copy()
print(dict3)
dict3.clear()
print(dict3)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1994, 'colors': ['purple', 'black', 'silver']}
<class 'dict'>
{'model': 'Mustang', 'year': 1994, 'colors': ['purple', 'black', 'silver']}
{'brand': 'Ford', 'model': 'GT', 'year': 1994, 'colors': ['purple', 'black', 'silver']}
{'brand': 'Ford', 'model': 'GT', 'year': 1994, 'colors': ['purple', 'black', 'silver']}
dict_values(['Ford', 'GT', 1994, ['purple', 'black', 'silver']])
{'model': 'GT', 'year': 1994, 'colors': ['purple', 'black', 'silver']}
{'model': 'GT', 'year': 1994, 'colors': ['purple', 'black', 'silver']}
{}